MiPrimeraVariable/MiPrimeraVariable.cbp
MiPrimeraVariable/MiPrimeraVariable.layout
MiPrimeraVariable/bin/*
MiPrimeraVariable/obj/*
OperadoresAritmeticos/OperadoresAritmeticos.cbp
OperadoresAritmeticos/OperadoresAritmeticos.layout
OperadoresAritmeticos/bin/*
OperadoresAritmeticos/obj/*